{% extends "layout.html" %}

{% block title %}
    Aural Result
{% endblock %}

{% block body %}

<h1 style="text-align:center;">
    Aural Learner
</h1>
<br><br>
<h4 style="text-align:center;">What is a aural learning style? And how do we maximize the potential of studying and memorizing for its user?</h4>
<p style="text-align:center;"><img src="https://www.workreadytraining.com.au/Content/Images/uploaded/Blog/Auditory-Learner-Infographic.png" alt="Aural Learner" width="600" height="800"></p>

<form action="{{ url_for('logoutstudent') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Logout</button>
    </div>

</form>
<form action="{{ url_for('ww2aural') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Course Content</button>
    </div>

</form>
{% endblock %}