{% extends "layout.html" %}

{% block title %}
    book review
{% endblock %}

{% block body %}
    <h1>

        Hello Instructor!

    </h1>

    <form action="{{ url_for('registerinstructor') }}" method="post">

        <div class="form-group">
            <button class="btn btn-primary">Sign up as Instructor</button>
        </div>

    </form>

    <form action="{{ url_for('logininstructor') }}" method="post">

        <div class="form-group">
            <button class="btn btn-primary">Login as Instructor</button>
        </div>

    </form>

{% endblock %}