{% extends "layout.html" %}

{% block title %}
    Visual Result
{% endblock %}

{% block body %}

<div class="transbox" style="text-align:center;">
<h1 style="text-align:center;">
    Visual Learner
</h1>
<br><br>
<h4 style="text-align:center;">What is a visual learning style? And how do we maximize the potential of studying and memorizing for its user?</h4>
<p style="text-align:center;"><img src="https://www.workreadytraining.com.au/Content/Images/uploaded/Blog/Visual_Learner.png" alt="Visual Learner" width="600" height="800"></p>

<form action="{{ url_for('logoutstudent') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Logout</button>
    </div>

</form>
<form action="{{ url_for('ww2visualtopics') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Course Topics</button>
    </div>

</form>
</div>
{% endblock %}