{% extends "layout.html" %}

{% block title %}
    WW2 Reading/Writing
{% endblock %}

{% block body %}
<div class="transbox" style="text-align:center;">
<h1 style="text-align:center;">
    World War II Reading/Writing Course Topics
</h1>
<br><br>


<form action="{{ url_for('ww2readwritecauses') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary button1" style="width:50%;margin-left:25%;margin-right:25%;">Causes</button>
    </div>

</form>
<form action="{{ url_for('ww2readwritetimeline') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary button1" style="width:50%;margin-left:25%;margin-right:25%;">Timeline</button>
    </div>

</form>
<form action="{{ url_for('ww2readwriteevents') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary button1" style="width:50%;margin-left:25%;margin-right:25%;">Major Events</button>
    </div>

</form>
<form action="{{ url_for('ww2readwriteend') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary button1" style="width:50%;margin-left:25%;margin-right:25%;">Ending</button>
    </div>

</form>
<form action="{{ url_for('ww2readwritestatistics') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary button1" style="width:50%;margin-left:25%;margin-right:25%;">Statistics</button>
    </div>

</form>

<br><br><br><br>


<form action="{{ url_for('logoutstudent') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Logout</button>
    </div>

</form>
<form action="{{ url_for('home') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Home</button>
    </div>

</form>
</div>
{% endblock %}