{% extends "layout.html" %}

{% block title %}
    WW2 Visual
{% endblock %}

{% block body %}

<h1 style="text-align:center;">
    WW2 Visual
</h1>

<h2 style="text-align:center;">Cause of WW2</h2>
<p style="text-align:center;"><img src="https://encyclopedia.ushmm.org/images/large/e3d0fae6-6b9c-4b6c-beb1-9e69de1453d0.gif.pagespeed.ce.7yF0e9NA0c.gif" title="German invasion of Poland in September 1939" width="640" height="420"></p>
<h4 style="text-align:center;">World War II was a conflict between 1939 and 1945 that involved all the world's major countries</h4>
<p style="text-align:center;"><img src="https://goesww2unit.weebly.com/uploads/9/8/5/4/98549802/published/whofoughteng.jpg?1518715015" width="598" height="414"></p>
<h4 style="text-align:center;">Drove Great Britain and France to declare war on Germany, marking the beginning of World War II</h4>
<br><br>

<h2 style="text-align:center;">Timeline of WW2</h2>
<p style="text-align:center;"><img src="https://i.ibb.co/VNCF72L/timeline1.png" alt="timeline1"></p>
<p style="text-align:center;"><img src="https://i.ibb.co/pPGt5Fs/timeline2.png" alt="timeline2"></p>
<p style="text-align:center;"><img src="https://i.ibb.co/9T22YMX/timeline3.png" alt="timeline3"></p>
<p style="text-align:center;"><img src="https://i.ibb.co/Rj2BZ1r/timeline4.png" alt="timeline4"></p>
<p style="text-align:center;"><img src="https://i.ibb.co/B2J6yGH/timeline5.png" alt="timeline5"></p>
<p style="text-align:center;"><img src="https://i.ibb.co/3sKXgCF/timeline6.png" alt="timeline6"></p>
<br><br>

<h2 style="text-align:center;">Major Events of WW2</h2>
<p style="text-align:center;"><img src="https://i.ibb.co/tHHzDnf/event1.png" alt="event1" title="German rearmament takes off."></p>
<h4 style="text-align:center">Adolf Hitler becomes chancellor of Germany and later assumes dictatorial powers.</h4>
<br>
<p style="text-align:center;"><img src="https://i.ibb.co/MPZPvdr/event2.png" alt="event2"></p>
<h4 style="text-align:center">Germany invades Poland, inciting Poland’s allies Britain and France to declare war on Germany.</h4>
<br>
<p style="text-align:center;"><img src="https://i.ibb.co/dt6xmbJ/event3.png" alt="event3" title="The same day, Germany invades Belgium."></p>
<h4 style="text-align:center">Winston Churchill replaces Neville Chamberlain as British Prime Minister</h4>
<br>
<p style="text-align:center;"><img src="https://i.ibb.co/QPmj8VV/event4.png" alt="event4"></p>
<h4 style="text-align:center">Paris falls to German forces. France capitulates 11 days later.</h4>
<br><br>

<h2 style="text-align:center;">End of WW2</h2>
<br><br>

<h2 style="text-align:center;">Chart/Graph of WW2??</h2>


<form action="{{ url_for('logoutstudent') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Logout</button>
    </div>

</form>
<form action="{{ url_for('home') }}" method="post">

    <div class="form-group">
        <button class="btn btn-primary" style="width:50%;margin-left:25%;margin-right:25%;">Home</button>
    </div>

</form>

{% endblock %}